*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

body{
    background: #2A4660;
    box-sizing: border-box;
}

header{
    background: rgba(104, 74, 154, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .hd{
    display: inline-flex;
    justify-content: center;
}

.logo{
    
    margin: 5px;
    flex:20%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

}

.logo img{
    border: 2px solid rgb(104, 95, 95);
    border-radius: 3px;
    width: 40px;
    height: 40px;
    
}

.logo h2{
    font-size: 18px;
    color: white;
    padding: 8px 3px;
}

.nav-bar{
    display: block;
    flex: 60%;
}

.nav-bar ul{
    list-style: none;
    padding: 10px;
}

.nav-bar ul li{
    display: inline;

}

.nav-bar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 3px;
    width: 150px;
}

.nav-bar ul li a:hover{
    background-color: rgba(104, 74, 154, 0.9);
    border-radius: 3px;
}

.social{
    display: block;
    flex: 20%;
}

.social .box{
    display: inline-block;
}

.social .box img{
    margin-left: 6px;
    width: 32px;
    height: 32px;
}

.main-body{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-body h2{
    font-size: 26px;
    justify-self: auto;
    margin-top: 100px;
}

.main-body .btns{
    display: block;
    align-self: auto;
}

.main-body p{
    padding: 15px;
    margin: 15px;
    
}

.main-body .btns ul{
    list-style: none;
}

.main-body .btns ul li{
    display: inline-block;
    color: white;
}

.main-body .btns ul li a{
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    margin-top: 20px;
    color: white;
    border-radius: 3px;
}

#active, .main-body .btns ul li a:hover{
    color: black;
    background: white;
}